<%=stylesheet_link_tag :all%>
<%=javascript_include_tag :all%>
<body onLoad="alternate('thetable')">
<center>
<br/>
<div style="color:Darkgreen;text-align:center;font-size:150%">Category Details</div>
<br/>
<div style="color:red;text-align:center;font-size:100%"> <%=flash[:notice]%></div>
<table border="0" id="thetable">
	<tr>
		<th class="heading" nowrap>Category Name</th>
		<th class="heading" nowrap>Serial No.</th>
		<th class="heading" nowrap>Operation</th>
	</tr>
<% @categories.each do |category| %>
	<tr>
		<td class="data" nowrap><%= link_to category.name, {:controller => "Categories", :action => "show",:id => category.id}%></td>
		<td class="data" nowrap><%=category.sl_no%></td>
		<td class="data" nowrap><%= link_to (image_tag("delete_icon.jpg",:width=>'20px',:height=>'20px', :alt => 'delete')), {:controller => "Categories", :action => "delete",:id => category.id},
						{:onclick => "return confirm('Are you sure you want to delete this?');"} %>&nbsp;&nbsp;&nbsp;
					<%= link_to (image_tag("edit_icon.jpg",:width=>'20px',:height=>'20px', :alt => 'edit')), {:controller => "Categories", :action => "edit",:id => category.id},
						{:onclick => "return confirm('Are you sure you want to edit this?');"} %>&nbsp;&nbsp;&nbsp;
					<!--#<%= link_to (image_tag("view_icon.jpg",:width=>'20px',:height=>'20px', :alt => 'view')), {:controller => "Categories", :action => "show",:id => category.id}%>--></td>
	</tr>

<%end%>
	<tr>
		<td colspan="4" style="text-align:center"><%= link_to "edit Category", :controller=>"Categories",:action=>"new" %>&nbsp;&nbsp;
		<%= link_to "edit Product", :controller=>"Products",:action=>"new" %>&nbsp;&nbsp;
		<%= link_to "view Category", :controller=>"Categories",:action=>"list" %>&nbsp;&nbsp;
		<%= link_to "view Product", :controller=>"Products",:action=>"list" %></td>

	</tr>
</table>
</center>
</body>

